@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bitter", serif;
    ;
}

.head {
    background-color: #06060738;
    padding: 30px;
    border: 1px solid black;
}

h1 {
    font-size: 35px;
}

a {
    text-decoration: none;
    color: black;
}

.navbar li {
    list-style: none;
}

.nav-list {
    display: flex;
    gap: 35px;
}

.navbar {
    background-color: #f3bbc5;
    padding: 15px;
    border: 1px solid black;
}

/* about */
#about {
    border: 1px solid black;
    min-height: 517.99px;
}

.about {
    width: 70%;
    border-right: 2px solid #000;
    padding-right: 45px;
    min-height: 515.50px;
}

.about-content {
    padding: 100px 0;
    font-size: 1.22rem;
}

.about-us {
    display: flex;
    justify-content: space-around;
}

.about p {
    letter-spacing: 1px;
    margin: 20px 0;
}

.about-nav {
    padding: 120px 0;
    font-size: 2.2rem;
}

.about-nav li {
    margin: 15px 0;
}

/* footer */
footer {
    background-color: #f3bbc5;
    padding: 15px;
    font-size: 1.3rem;
    border: 1px solid black;
}